[Desktop Entry]
Name=Dreamchess
Comment=3D X-Window chess game
Comment[pl]=Trójwymiarowa gra szachowa dla X-Window
Exec=dreamchess
Icon=dreamchess
Terminal=false
Type=Application
Categories=Game;BoardGame;
# vi: encoding=utf-8
