[Desktop Entry]
Name=Dreamchess
Comment=3D X-Window chess game
Comment[pl]=Trówymiarowa gra szachowa dla X-Window
Exec=dreamchess
Icon=dreamchess.png
Terminal=false
Type=Application
Categories=Game;BoardGame;
Encoding=UTF-8
# vi: encoding=utf-8
